{% extends "../account/sub_base.html" %}

{% block sub_content %}
  <h1>Maintenance Records</h1>

  <form method="get">
    {{ filter_form.as_p }}
    <input type="submit" value="Filter">
  </form>

  <table>
    <thead>
      <tr>
        <th>Vehicle</th>
        <th>Maintenance Type</th>
        <th>Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
        <tr>
          <td>{{ record.vehicle }}</td>
          <td>{{ record.maintenance_type }}</td>
          <td>{{ record.date }}</td>
          <td><a href="{% url 'maintenance:maintenance_record_detail' record.id %}">View</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No maintenance records available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


  <a href="{% url 'maintenance:maintenance_record_new' %}">Add New Maintenance Record</a>
{% endblock %}
