{% extends 'base.html' %}
{% block title %} Home {% endblock  %}
<!--Core of the Home page-->
{% block content %}
<div class="container">
    <div class="pb-3 h5"> Nos Véhicules </div>
    {% if not vehicles %}
    <div class="col-12"> There is currently no vehicles to show </div>
    {% else %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for vehicle in vehicles %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-4">
                    <span class="h6 text-muted"><img class="img" src="{{vehicle.model.make.logo.url}}" alt="{{vehicle.model.make}}" width="45"
                        height="30">
                    {{ vehicle.model.make }}</span>
                    <p class="text-muted"><span class="h5">{{ vehicle.model}}</span></p>
                </div>
                <div class="card-body">
                    <img src="{{ vehicle.picture.url}}" alt="Hi" class="img-fluid" height="350" width="650">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
<!-- End of the Home page core -->