{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
{% block content %}

<div class="container">
  <div class="col-12">
    <h1 class="h2">
      Bienvenue à votre Tableau de Bord!
    </h1>
    <div class="col-12 d-flex justify-content-between">
      {% if user.is_controlor %}
      <div>Gerer vos <b>Alimentations En Carburant</b></div>
      {% comment %} <div><a href="{% url 'account:edit_details' %}">Change Details</a></div> {% endcomment %}
    {% elif user.is_supervisor%}
      <div>Verifier les Alimentations En Carburant</div>
    {% endif %}
    </div>
    <hr />
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 position-relative">
  {% if user.is_controlor %}
    <div class="col h-100">
      <a href="{% url 'refuel:controlor-refuel-list' %}" class="text-reset text-decoration-none" role="button" style="width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-relative translate-middle" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house"
                viewBox="0 0 16 16">
                <img class="top-150 start-50 " src="{% static 'home_vehicle/List-icone.png' %}" width="36" height="45" alt="">
              </svg>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Liste d'Alimentation d'Aujourdhui</h1>
                <p class="card-text small text-muted">Voir, Suivre, Changer</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="{% url 'refuel:refuel-creation' %}" class="text-reset text-decoration-none" role="button"
        style="width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-relative translate-middle" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house"
                viewBox="0 0 16 16">
                <img class="top-150 start-50 " src="{% static 'home_vehicle/gasoline-pump-svgrepo-com.svg' %}" alt="">
              </svg>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Alimentations En Carburant</h1>
                <p class="card-text small text-muted">Nouvelle Alimentation</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% elif user.is_supervisor%}
    <div class="col">
      <a href="{% url 'refuel:all-refuels' %}" class="text-reset text-decoration-none" role="button" style="width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-relative translate-middle" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house"
                viewBox="0 0 16 16">
                <img class="top-150 start-50 " src="{% static 'home_vehicle/List-icone.png' %}" width="36" height="45" alt="">
              </svg>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Liste d'Alimentations en Carburant</h1>
                <p class="card-text small text-muted">Voir, Suivre, Changer</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col h-100">
      <a href="{% url 'vehicle:vehicles_all' %}" class="text-reset text-decoration-none" role="button" style="width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-relative translate-middle" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house"
                viewBox="0 0 16 16">
                <img class="top-150 start-50 " src="{% static 'home_vehicle/bus.png' %}" width="36" height="45" alt="">
              </svg>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Liste des Bus</h1>
                <p class="card-text small text-muted">Voir, Suivre, Changer</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="{% url 'refuel:consumption' %}" class="text-reset text-decoration-none" role="button" style="width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-relative translate-middle" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house"
                viewBox="0 0 16 16">
                <img class="top-150 start-50 " src="{% static 'home_vehicle/percentage.png' %}" width="36" height="45" alt="">
              </svg>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Consomation des Vehicules</h1>
                <p class="card-text small text-muted">Voir, Suivre</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    {% endif %}
  </div>
</div>
{% endblock content %}