{% extends 'base.html' %}
{% block title %}
    <title>Fuels Consumption List</title>
    <style media="screen">
      #body-table tr:nth-child(odd){
        background: #F2F2F2;
      }
      #body-table tr:nth-child(even){
        background: #CDBB79;
      }
    </style>
{% endblock title %}
{% block content %}
<div class="container">
  <div class="contents">
    <h1>La consommation des Vahicules </h1>
  </div>
  <div class="container">
        {% csrf_token %}
        <table class="table table-hover" border="2">
          <thead class="table-dark">
            <th>Vehicule :</th>
            <th>Station : </th>
            <th>Controleur :</th>
            <th>Chauffeur :</th>
            <th>Consomation (L/100km): </th>
            <th>Date</th>
          </thead>
          <tbody id="body-table">
            {% for refuel in fuelconsumption_list %}
                  <tr>
                    <td>{{ refuel.vehicle.serie}}</td>
                    <td>{{ refuel.gaz_station.name}}</td>
                    <td>{{ refuel.Controlor_id }}</td>
                    <td>{{ refuel.driver }}</td>
                    <td>{{ refuel.consumption }} %</td>
                    <td>{{ refuel.created_at|date:"d-M-Y" }}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>

            {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
          {% endblock %}
      </div>
  </div>

{% endblock content %}
